
[submodule "ProprietaryFiles"]
	path = ProprietaryFiles
	url = https://github.com/Real-Sim-XIL/ProprietaryFiles.git

[submodule "tests/Applications/SUMO_CARLA_EcoDriving/mlk_xil"]
	path = tests/Applications/SUMO_CARLA_EcoDriving/mlk_xil
	url = https://code.ornl.gov/realsim_realtwin-deployment/mlk_xil.git
