
[submodule "cav_casestudy"]
    path = tests/Applications/Eco_Fixed_Timming/cav_casestudy
    url = https://code.ornl.gov/real-twin/cav_casestudy.git

[submodule "ProprietaryFiles"]
	path = ProprietaryFiles
	url = https://github.com/Real-Sim-XIL/ProprietaryFiles.git

[submodule "tests/Applications/SUMO_CARLA_EcoDriving/mlk_xil"]
	path = tests/Applications/SUMO_CARLA_EcoDriving/mlk_xil
	url = https://code.ornl.gov/realsim_realtwin-deployment/mlk_xil.git
